@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: rgba(117, 97, 87, 1);
  text-decoration: none;
  text-transform: uppercase;
}

.page-header{
  font-size: 20px;
  line-height: 24px;
}

.navigation-list{
  list-style: none;
}
.navigation-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
}

.user-board {
  list-style: none;
}

.city-welcome {
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.city-advantages {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.city-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages {
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(5) {
  background-color: #82B3D3;
  color:#FFFFFF;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  background: rgba(131, 179, 211, 0.12);
  color:#000000;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
  color:#000000;
}

.advantages-hotel {
   text-align: center;
}

.advantages-hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-hotel-descr {
  font-size: 18px;
  line-height: 21px;
}

.advantages-list {
  list-style: none;
}

.advantages-hotel-list {
  list-style: none;
}

.advantages-hotel-item:nth-child(1),
.advantages-hotel-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.serch-hotel{
  text-align: center;
}

.serch-hotel-interest {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.serch-hotel-offer {
  font-size: 22px;
  line-height: 26px;
}

.newsletter {
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.newsletter-subscr {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-descr {
  font-size: 22px;
  line-height: 26px;
}

.newsletter-button{
  background-color: rgba(130, 179, 211, 1);
}

.contact-number {
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  color:#000000;
  text-decoration: none;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-hotel {
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color:#FFFFFF;
  background-color:#757e84;
}

.product-list {
  list-style: none;
}

.catalog-filter-list {
  list-style: none;
}

.breadcrumbs {
  list-style: none;
}

.submit-button {
  background-color: rgba(130, 179, 211, 1);
}

.reset-button {
  background-color: rgba(255, 255, 255, 0);
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-group {
  border: none;
}

.sort-section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
}

.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-favorites {
  background-color: rgba(130, 179, 211, 1);
}

.button-favorites-on {
  background-color: rgba(125, 181, 79, 1);
}

.pagination {
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: rgba(130, 179, 211, 1);
  color:#FFFFFF;
  text-decoration: none;
}

.pagination-link-off {
  background-color: rgba(242, 242, 242, 1);
  color: #000000;
}

.pagination-link-interval {
  color: #000000;
  background-color: rgba(255, 255, 255, 0);
}
