@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  display: flex;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: rgba(117, 97, 87, 1);
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 34px;
  border-radius: 4px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.button:hover, .button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  padding: 0 70px;
  box-sizing: border-box;
  justify-content: space-between;
}

.logo {
  width: 140px;
  height: 70px;
  display: block;
  margin-bottom: -6px;
}

.logo-link {
  position: relative;
  z-index: 1;
  margin-bottom: auto;
}

.navigation {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 28px;
  align-items: center;
}

.user-board-container {
  display: flex;
  flex-shrink: 0;
  width: 268px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.user-board {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.page-header{
  font-size: 20px;
  line-height: 24px;
}

.main-index {
  flex-grow: 1;
}

.navigation-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  padding: 20px 16px;
  display: block;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  display: block;
  width: calc(100% - 32px);
  height: 2px;
  background-color: #756257;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.user-board-link {
  display: flex;
  width: 44px;
  height: 64px;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
}

.user-board-link::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url('../images/icons/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.user-board-link::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url('../images/icons/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.user-board-link-like::before, .user-board-link-like::after {
  width: 20px;
  height: 20px;
}

.user-board-link-like::before {
  content: "";
  background-image: url('../images/icons/like.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.user-board-link-like::after {
  content: "12";
  border-radius: 50%;
  background: #7db54f;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  padding: 5px;
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  left: 20px;
  top: 10px;
}

.city-welcome {
  background-image:url("../images/mask.svg"),  url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color:#557b94;
  min-height: 485px;
  background-position: bottom, top;
  padding: 51px 0 71px 0;
  box-sizing: border-box;
}

.city-welcome img {
  display: block;
  width: 458px;
  height: 352px;
  margin-left: auto;
  margin-right: auto;
}

.city-info-main {
  padding: 69px 70px;
}

.city-advantages {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  max-width: 620px;
  margin: 0 auto;
}

.city-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 24px 0 0 0;
}

.city-info .city-description {
  margin-top: 26px;
}

.advantages {
  text-align: center;
}

.advantages-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-bottom: 30px;
  margin: 0;
}

.advantages-title::before {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 60px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-title-illustrate::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 30px 0 0 0;
}

.advantages-item-illustrate {
  width: 100%;
  background-color: #82b3d3;
  color:#ffffff;
  display: flex;
  grid-column: 1/ -1;
}

.advantages-item-illustrate:last-child {
  flex-direction: row-reverse;
}

.advantages-item:nth-child(even) {
  background: rgba(131, 179, 211, 0.12);
  color:#000000;
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 85px;
  box-sizing: border-box;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
  color:#000000;
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 85px;
  box-sizing: border-box;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 85px;
}

.advantages-hotel {
   text-align: center;
}

.advantages-hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 29px;
}

.advantages-hotel-description {
  font-size: 18px;
  line-height: 21px;
  margin: 31px 0 0 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 21px 0 0 0;
  padding: 0;
}

.city-info {
  padding: 64px 70px;
}

.citi-advantages-title {
  margin: 0 auto;
}

.advantages-hotel-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-hotel-item {
  padding: 78px 85px;
  min-height: 385px;
  box-sizing: border-box;
  width: 400px;
}

.advantages-hotel-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 81px 85px;
  min-height: 385px;
  box-sizing: border-box;
}

.advantages-hotel-item::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 72px;
  display: block;
  margin: 0 auto;
}

.advantages-hotel-item-house::before {
  background-image: url('../images/icons/home.svg');
}

.advantages-hotel-item-eat::before {
  background-image: url('../images/icons/food.svg');
}

.advantages-hotel-item-gift::before {
  background-image: url('../images/icons/souvenir.svg');
}

.search-hotel{
  min-height: 402px;
  padding: 91px 70px 91px 70px;
  box-sizing: border-box;
}

.search-hotel .button {
  min-width: 376px;
  font-size: 20px;
  line-height: 36px;
  display: block;
  margin: 52px auto 0;
}

.search-hotel-interest {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.search-hotel-offer {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  max-width: 592px;
  margin: 20px auto 0;
}

.newsletter-container {
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#557b94;
  text-align: center;
  min-height: 415px;
  padding: 96px 70px 104px 70px;
  box-sizing: border-box;
}

.newsletter {
  width: 684px;
  min-height: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

}

.newsletter-subscribe {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color:#ffffff;
  text-transform: uppercase;
  margin: 0;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  color:#ffffff;
  margin: 20px 0 54px 0;
}

.newsletter-button {
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  min-width: 232px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.newsletter-button:hover,
.newsletter-button:focus {
  background-color: #68a2cA;
}

.newsletter-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-control-container {
  display: flex;
}

.field {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding: 15px 17px;
  border-radius: 4px 0 0 4px;
  border: none;
  min-width: 452px;
  box-sizing: border-box;
  outline: none;
}

.field::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.contact-number {
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  color:#000000;
  text-decoration: none;
}

.contact-number:hover,
.contact-number:focus {
  color: #756157
}

.contact-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.catalog-hotel {
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color:#ffffff;
  background-color:#557b94;
  min-height: 412px;
  padding: 35px 70px 70px 70px;
  box-sizing: border-box;
}

.product-list {
  margin: 40px 0 0 0;
  padding: 0 0 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 32px 0 0 0;
}

.catalog-filter-item {
  margin-top: 16px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-filter-item:first-child {
  margin-top: 0;
}

.control-radio,
.control-checkbox {
  padding-left: 5px;
}

.control-input-checkbox,
.control-input-radio {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
  margin: 0;
}

.control-input-radio {
  border-radius: 50%;
}

.control-input-checkbox::after,
.control-input-radio::after {
  content: "";
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../images/icons/tick.svg');
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.control-input-checkbox:checked::after,
.control-input-radio:checked::after {
  display: block;
}

.control-input-checkbox::after,
.control-input-radio::after {
  width: 20px;
  height: 20px;
}

.control-input-radio::after {
  background-color: #3f5e72;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.control-input-radio:hover,
.control-radio:hover {
  opacity: 0.6;
}

.control-input-checkbox:hover,
.control-checkbox:hover {
  opacity: 0.6;
}

.control-input-radio:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

.control-input-checkbox:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

.control-input-radio:active {
  opacity: 0.3;
}

.control-input-checkbox:active {
  opacity: 0.3;
}

.catalog-scale {
  position: relative;
  width: 288px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 44px;
}

.catalog-scale-bar {
  position: absolute;
  width: 226px;
  height: 4px;
  background-color: #ffffff;
}

.catalog-scale-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.catalog-scale-button-min {
  top: -8px;
}

.catalog-scale-button-max {
  top: -8px;
  right: 0;
}

.catalog-scale-button:not(:disabled):active {
  outline: 2px solid #83b3d3;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
  gap: 10px;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 21px;
}

.breadcrumbs-link {
  font-size: 16px;
}

.breadcrumbs-link-home {
  display: flex;
}

.breadcrumbs-link-home::before {
  content: "";
  background-image: url('../images/icons/catalog-home.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 15px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  background-image: url('../images/icons/arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 8px;
  height: 20px;
}

.breadcrumbs-item:last-child {
  padding-right: 0;
}

.submit-button {
  background-color: #82b3d3;
}

.submit-button:hover,
.submit-button:focus {
   background-color: #68a2ca;
}

.submit-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.reset-button {
  background-color: transparent;
  margin-top: -6px;
}

.reset-button:hover {
  opacity: 0.6;
  background: transparent;
}

.reset-button:focus {
  border-radius: 4px;
  border: 3px solid #83b3d3;
  background: transparent;
  outline: none;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: transparent;
}

.reset-button:disabled {
  opacity: 0.1;
  background: transparent;
}

.control {
  font-size: 18px;
  line-height: 23px;
  margin-left: 16px;
  padding: 0;
}

.catalog-filter{
  display: flex;
  margin: 40px 0 0 0;
  gap: 70px;
}

.catalog-filter-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-group-type {
  margin-left: 6px;
}

.catalog-filter-list-price {
  display: flex;
  column-gap: 2px;
  justify-content: center;
  align-items: center;
}

.catalog-filter-group.catalog-filter-group-price {
  margin-left: auto;
}

.catalog-filter-list-price .catalog-filter-item {
  position: relative;
  margin-top: 0;
}

.catalog-filter-price {
  width: 143px;
  height: 48px;
  background-color: #f2f2f2;
  padding: 12px 20px;
  border: none;
  box-sizing: border-box;
  margin: 0 0 0 auto;
  outline: none;
}

.catalog-filter-price:hover {
  background-color: #e5e5e5;
}

.catalog-filter-price:focus {
  background-color: #e5e5e5;
  border: 3px solid #83b3d3;
}

.catalog-filter-price-from {
  border-radius: 5px 0 0 5px;
}

.catalog-filter-price-to {
  border-radius: 0 5px 5px 0;
}

.catalog-filter-price::placeholder {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.catalog-filter-description {
  position: absolute;
  right: 20px;
  top: 10px;
  color:#000000;
  opacity: 0.3;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.catalog-controls {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.sort-section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: flex-end;
  min-width: 191px;
}

.select-control {
  width: 292px;
  padding: 12px 50px 12px 18px;
  font-family: inherit;
  font-size: inherit;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
  background-color: #ffffff;
  background-image: url(../images/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 258px center;
  cursor: pointer;
}

.select-control:hover,
.select-control:focus {
  border-color: #68a2ca;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color:rgba(0, 0, 0, 0.3);
}

.button-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.button-selected-card {
  border-color: #000000;
}

.button-selected::before {
  content: "";
  background-image: url('../images/icons/view-cards.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}

.button-selected-cards::before {
  background-image: url('../images/icons/view-card.svg');
}

.button-selected-list::before {
  background-image: url('../images/icons/view-list.svg');
}

.button-selected:hover {
  border-color: #000000;
}

.button-selected:focus {
  border-color: #68a2ca;
}

.button-selected:active {
   border-color: #000000;
}

.product-card {
  min-height: 438px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
}

.product-card-title {
  margin: 17px 0 0 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
  grid-column: 1/ -1;
}

.product-card-image {
  width: 300px;
  height: 212px;
  object-fit: cover;
}

.product-card-params-list {
  grid-column: 1 / -1;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  padding: 0;
}

.product-card-type {
  margin: 0;
}

.product-card-params-item {
  display: flex;
  align-items: center;
}

.product-card-rating {
  padding: 10px 0;
  background-image: url('../images/icons/star.svg');
  background-position: center;
  background-repeat: space no-repeat;
  display: block;
}

.product-card-rating-4-star {
  width: 84px;
}

.product-card-rating-3-star {
  width: 66px;
}

.product-card-rating-2-star {
  width: 42px;
}

.product-card-params-item .button {
  padding: 8px 18px;
  display: block;
  width: 100%;
}

.product-card-min-price {
  text-align: right;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color:#f2f2f2;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  width: 100%;
}

.button-favorites {
  background-color: #82b3d3;
}

.button-favorites-on {
  background-color: #7db54f;
}

.button-favorites:hover,
.button-favorites:focus {
   background-color: #68a2ca;
}

.button-favorites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 40px 0 0 0;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82b3d3;
  color:#ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  min-width: 60px;
  height: 60px;
  padding: 12px 18px;
  box-sizing: border-box;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-off {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link-interval {
  color: #000000;
  background-color: transparent;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 35px;
  align-items: center;
}

.social-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap ;
  margin: 0;
  padding: 0;
  max-width: 142px;
}

.sort {
  display: grid;
  grid-template-columns: 1fr 292px 160px;
  gap: 70px;
  align-items: center;
}

.catalog {
  padding: 50px 70px 60px 70px;
  box-sizing: border-box;
}

.newsletter-container-inner {
  background-image: none;
  background-color: transparent;
}

.newsletter-inner .newsletter-subscribe,
.newsletter-inner .newsletter-description {
  color: #000000;
}

.newsletter-container-inner .field {
  background-color: #f2f2f2;
}

.social-link {
  width: 47px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #83b3d3;
}

.social-link:hover,
.social-link:focus {
  color: #68a2ca;
}

.social-link:active {
  opacity: 0.3;
}

.footer-logo {
  color: #000000;
}

.footer-logo:hover,
.footer-logo:focus {
  color: #756157;
}

.footer-logo:active {
  color: rgba(117, 97, 87, 0.3);
}

.container-modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(242, 242, 242, 0.8);
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  width: 577px;
  background: #ffffff;
  border-radius: 30px;
  padding: 64px 70px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 64px 0;
}

.modal-button-close {
  border-radius: 50%;
  position: absolute;
  display: grid;
  top: 64px;
  right: 52px;
  place-items: center;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.modal-button-close:hover {
  background-color: #e5e5e5;
}

.modal-button-close:focus {
  background-color: #e5e5e5;
  border: 3px solid #83b3d3;
  outline: none;
}

.modal-button-close:active {
  background-color: #e5e5e5;
}

.modal-button-close:active svg {
  opacity: 0.3;
}

.modal-input {
  width: 366px;
  padding: 12px 54px 12px 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.modal-label-date {
  position: relative;
  margin-bottom: 23px;
}

.modal-label-date::after {
  position: absolute;
  content: "";
  background-image: url("../images/icons/date.svg");
  z-index: 2;
  top: 14px;
  right: 23px;
  width: 20px;
  height: 20px;
}

.modal-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: grid;
  grid-template-columns: auto min-content;
  align-items: center;
  gap: 4px 18px;
}

.modal-label-adult {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 85px;
}

.modal-input-details {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  grid-column: -2 / -1;
}

.modal-input-error {
  color: #ff5757;
}

.modal-input-counter {
  padding: 14px 10px;
  width: 40px;
  height: 48px;
  background: #f2f2f2;
  border: none;
  margin: 0;
  cursor: pointer;
}

.modal-input-counter-icon {
  color: #7561574d;
  width: 20px;
  height: 20px;
}

.modal-input-counter:hover .modal-input-counter-icon {
  color: #000000;
}

.modal-input-counter:focus {
  outline: none;
}

.modal-input-counter:focus .modal-input-counter-icon {
  color: #000000;
  border: 3px solid #82b3d3;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-input-counter:active .modal-input-counter-icon {
  color: #000000;
  opacity: 0.2;
}

.modal-input-number {
  padding: 14px 10px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  height: 48px;
  width: 31px;
  font-weight: 700;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: #f2f2f2;
  margin: 0;
  text-align: center;
}

.modal-input-number:focus {
  outline: none;
  border: 3px solid #82b3d3;
  padding: 11px 7px;
}

.modal-age {
  display: flex;
  justify-content: space-between;
}

.modal-age-block {
  display: flex;
  column-gap: 46px;
  align-items: center;
}

.modal-input-number-container {
  display: flex;
  gap: 0;
  margin-left: auto;
}

.modal-search-button {
  margin-top: 48px;
  height: 60px;
}

.tooltip {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  width: 26px;
  height: 26px;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon-circle,
.tooltip-toggle:focus .tooltip-icon-circle {
  fill: #68a2ca;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-toggle:focus {
  outline: none;
}

.tooltip-text {
  position: absolute;
  padding: 15px 18px 18px 22px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  background: #333333;
  border-radius: 10px;
  display: none;
  width: 256px;
  font-weight: 400;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #333333;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.container-modal-hidden {
  display: none;
}





